<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resgatos</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/home-css/home.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/home-css/scroll-animation.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="/img/logo2.png" alt="logo">
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="" class="nav-link">Início</a></li>
                    <li class="nav-item"><a href="/shelters" class="nav-link">Resgate</a></li>
                    <li class="nav-item"><a href="#sobre" class="nav-link" id="linkSobre">Sobre</a></li>
                </ul>
            </div>
            <div class="login-button">
                <a href="/login"><button th:if="${name == null}">Entrar</button></a>
                <button th:if="${name != null}" class="welcome-btn">Bem-vindo, <span th:text="${name}"></span>!</button>
                <button th:if="${name != null}" id="btn-exit" data-toggle="modal" data-target="#exit-modal">Sair</button>
            </div>
            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="/img/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                <li class="nav-item"><a href="/" class="nav-link">Início</a></li>
                <li class="nav-item"><a href="/shelters" class="nav-link">Resgate</a></li>
                <li class="nav-item"><a href="#sobre" class="nav-link">Sobre</a></li>
            </ul>

            <div class="login-button">
                <a href="/login"><button th:if="${name == null}">Entrar</button></a>
                <a href="/logout"><button style="background-color: rgb(160, 50, 50);" th:if="${name != null}">Sair</button></a>
            </div>
        </div>
    </header>
    <main>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/1.png" class="d-block w-100" alt="Gato 1">
                </div>
                <div class="carousel-item">
                    <img src="/img/2.png" class="d-block w-100" alt="Gato 2">
                </div>
                <div class="carousel-item">
                    <img src="/img/3.png" class="d-block w-100" alt="Gato 3">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </main>
    

<!-- corpo-->

<div class="conteudo anime" id="sobre">
    <div class="overlay"></div>
    <div class="content">
        <h2>O QUE É A RESGATOS?</h2>
        <p>Resgatos é uma iniciativa sem fins lucrativos. Somos alunos da UNINASSAU/SE e fizemos esse trabalho com intuito de ajudar animais abandonados e vítimas de maus-tratos a terem uma vida com respeito e amor.</p>
        <button id="redirectToWhatsapp" class="ajudar-button">Quero Ajudar</button>
    </div>
    </div>
</div>

<!-- CONTEUDO 2 -->
<div class="conteudo2 anime">
    <div class="acao-container">
        <div class="acao1">
            <img src="/img/doacao.png" alt="Ícone Doar" width="80">
            <h3>Faça uma doação</h3>
            <p>Com as doações, as ONGs conseguem cuidar de animais carentes, potencializar os projetos, criar campanhas de conscientização e desenvolver ações especiais. </p>
            <a href="/donate"><button class="acao-button">Quero Doar</button></a>
        </div>
        <div class="acao2">
            <img src="/img/ambulancia.png" alt="Ícone Resgatar" width="80">
            <h3>Resgate uma vida</h3>
            <p>Você pode cuidar de uma vida sem precisar adotar. RESGATE! Nos envie fotos e localição de Gatinhos em risco para que uma ONG ou um padrinho consiga resgatar essa vida.</p>
            <a href="/shelters"><button class="acao-button">Quero Resgatar</button></a>
        </div>
        <div class="acao3">
            <img src="/img/adote.png" alt="Ícone Adotar" width="80">
            <h3>Adote um amigo</h3>
            <p>ADOTE! Adotar é um gesto de amor! É dar a chance de um animalzinho ter uma família e a oportunidade de ser recompensado diariamente com muito amor!</p>
            <a href="/shelters"><button class="acao-button">Quero Adotar</button></a>
        </div>
    </div>
</div>



<!-- rodapé-->

    <footer>
        <div class="social-icons">
            <a href="#" class="icon"><img src="/img/facebook.png" alt="Facebook"></a>
            <a href="#" class="icon"><img src="/img/instagram.png" alt="Instagram"></a>
            <a href="#" class="icon"><img src="/img/twitter.png" alt="Twitter"></a>
            <a href="#" class="icon"><img src="/img/youtube.png" alt="YouTube"></a>
        </div>
        <div class="copyright">
            &copy; 2023 Resgatos
        </div>
    </footer>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/js/bootstrap.min.js"></script>
<script src="/js/script.js"></script> 
<script src="/js/scroll-animation.js"></script>
</body>

<!--Modal para confirmar saída-->

<div class="modal fade" id="exit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title w-100" id="myModalLabel">Confirmar saída?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <a type="button" class="btn-confirm-exit" href="/logout">Confirmar</a>
          <button type="button" class="btn-cancel-exit" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</html>